{
    "presets": [
        ["env", {
            "targets": {
                "node": "current",
                "browsers": [
                    "last 5 versions"
                ]
            }
        }]
    ]
}